{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        <p>Your account doesn't have access to this page. To proceed,

    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <p> Username</p>{{ form.username }}
        <p> Password</p>{{ form.password }}


        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>


{% endblock %}