<!--DOCTYPE html> -->
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        <title>Inscription</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style3.css' %}">
    </head>
    
    <body>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    {% block content %}
                    <br>
                    <h1> Creation de compte </h1>
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        {% if form.errors %}
                        <p> Il y a des erreurs dans le form</p>
                        {% endif %}
                        {{ formUser }}
                        <br>
                        {{ form }} 
                        <br>

                        <div class="form-group">
                            <input type="submit" value="Créer un compte" class="btn login_btn btn-block">
                        </div>
                        <a class="nav-link"  href="{% url 'login' %}">Déjà inscrit?</a>

                    </form>
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
    
</html>