


<html lang="en">
<head>
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'affichageGraphes/style.css' %}" >
   <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
     <!-- highcharts CDN -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    

    {% load chartit %}
    {{ chart_list|load_charts:"cht1, cht2, cht3, cht4, chtL, chtR" }}
</head>
<body>
    <h1>Bonnes réponses par sous partie (1,2,3, ...)</h1>

    <div id='cht1'> Partie 1 </div>
    <hr>
    <div id='cht2'> Partie 2</div>
    <hr>
    <div id='cht3'> Partie 3 </div>
    <hr>
    <div id='cht4'> Partie 4 </div>
    <hr>

    <h2>Bonnes réponses par partie LISTENING/READING</h2>

    <div id='chtL'> LISTENING </div>
    <hr>
    <div id='chtR'> READING </div>
    <hr>

</body>
</html>
