

{% block title %} Stats par sous partie {% endblock %}

{% block content %}

<html lang="en">
<head>
   <!-- jQuery CDN -->
    <script
    src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
    crossorigin="anonymous"></script>
     <!-- highcharts CDN -->
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    {% load chartit %}
    {{ chart_list|load_charts:"cht1, cht2, cht3, cht4, chtL, chtR" }}
</head>
<body>
    <title>Bonnes réponses par sous partie (1,2,3, ...)</title>

    <div id='cht1'> Partie 1 </div>
    <hr>
    <div id='cht2'> Partie 2</div>
    <hr>
    <div id='cht3'> Partie 3 </div>
    <hr>
    <div id='cht4'> Partie 4 </div>
    <hr>
    
    <title>Bonnes réponses par partie LISTENING/READING</title>

    <div id='chtL'> LISTENING </div>
    <hr>
    <div id='chtR'> READING </div>
    <hr>

</body>
</html>

{% endblock %}