#container1 {
	float:left;
}
#container2 {
	float : right;
}

#container3 {
	float : left;
}

#container4 {
	float:right;
}

#container5 {
	float:left;
}
#container6 {
	float:left;
}
#container7 {
	float:left;
}
body{
	display: block;
}