#toeic li{
    display: inline;
    margin : 25px 50px;
    text-align: center;
    color: black;
}
#toeic{
    display: inline;
    margin-left: 50px;
    text-align: center;
    font-size: large;
}
#valider {
    display: block;
    margin : auto;
}

h1, h2, h3{
    color: brown;
}

