#toeic li{
    display: inline;
    margin : 25px 50px;
    text-align: center;
    color: black;
}
#toeic{
    display: inline;
    margin-left: 50px;
    text-align: center;
    font-size: large;
}
#valider {
    display: block;
    margin : auto;
}
<<<<<<< HEAD
=======

h1, h2, h3{
    color: brown;
}
>>>>>>> 58dc80841d8ba723d555f80c603f5c8266d57feb
