{% load static %}
<!--DOCTYPE html> -->

<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">

        
    </head>
    
    <body>
        {% block nav %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center">
                <a class="navbar-brand" href="/">Toeic</a>
                <ul class="nav navbar-nav">                        
                    <!-- <li>{% block nav-home %}<a href="{% url 'index' %}">Home</a>{% endblock %}</li> -->
                    <li class="nav-item">{% block nav-liste_Toeic %}<a class="nav-link" href="{% url 'liste_TOEIC' %}">liste des Toeic</a>{% endblock %}</li class="nav-item">
                    <li class="nav-item">{% block nav-pageProf %}<a class="nav-link" href="{% url 'espace_professeur' %}">Page prof</a>{% endblock %}</li>                        
                    <li class="nav-item">{% block nav-pageEleve %}<a class="nav-link" href="{% url 'liste_TOEIC' %}">liste des Toeic</a>{% endblock %}</li>
                </ul>
            </nav>
        <p></p>

        {% endblock %}

        <div class="content container">
                {% block content %}{% endblock %}
        </div>
        
        
    </body>
</html>