
{% extends 'base.html' %}
{% block content %}
<h1>{{ titre }}</h1>

{% for obj in liste %} <!-- Pour chaque toeic dans la liste de tout les toeics-->
{% if user.is_superuser %}
<li>{{obj.id}}  : {{obj}}</li>
    {% if obj.id not in list_idToeicEnCours %} <!-- Si le toeic n'est pas dans la liste des TOEICs qui sont en cours-->
    <form method='post'>
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="toeic" value={{obj.id}} >Lancer TOEIC </button>
    </form>
    {% else %} 
    <button class="btn btn-primary" type="submit" name="toeic" value={{obj.id}} disabled >En cours </button>
    

    </form>
	{% for tec in toeicEnCours %} <!-- Pour chaque toeic en cours dans la liste des toeic en cours-->
        {% if tec.id_TOEIC.id == obj.id %}  <!-- Si l'id toeic en cours est égal a l'id du toeic on affiche le mdp -->
        <p>Mot de passe : {{ tec.password }} </p>
        <script>
            /**
            
            var heureD = "{{tec.date_Debut.hour}}";
            var minuteD = "{{tec.date_Debut.minute}}";
            var secondeD = "{{tec.date_Debut.second}}";
            dateDebut = new Date();
            dateDebut.setHours(heureD);
            dateDebut.setMinutes(minuteD);
            dateDebut.setSeconds(secondeD);

            // Set the date we're counting down to
            let countDownDate = dateDebut;
            countDownDate.setHours(countDownDate.getHours() +2 );

            var now = new Date().getTime();

            /**if (countDownDate - now < 0) {
                location.href="/";
              }
            // Update the count down every 1 second
            var x = setInterval(function() {

              // Get today's date and time
              var now = new Date().getTime();
                
              // Find the distance between now and the count down date
              var distance = countDownDate - now;

              // Time calculations for days, hours, minutes and seconds
              var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
              var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
              var seconds = Math.floor((distance % (1000 * 60)) / 1000);
              var chrono = hours + "h " + minutes + "m " + seconds + "s ";  
              // Output the result in an element with id="demo"
              document.getElementById("{{obj.id}}").innerHTML = chrono;
                
              // If the count down is over, write some text 
              if (distance < 0) {
                clearInterval(x);
                document.getElementById("{{obj.id}}").innerHTML = "EXPIRED";
                document.getElementById("valider").click();
                document.write(distance)

              }
            }, 1000);*/
        </script>
        <p id="{{obj.id}}"></p>

        

        {% endif %}
    {% endfor %}
 
    {% endif %}

{% else %}
<li><a href="{% url 'repondTOEIC' obj.id %}">{{obj.id}}  : {{obj}} </a></li>
{% endif %}
 <br/> 
 {% endfor %}

<br/>


<div id="listeTOEIC">
    <div class="form-group">
        <form method='post'>
            {% csrf_token %}

    <!-- Nom du toeic : <input type="text" name="NomToeic" required> -->
    {{ test }}
    <input class="btn btn-primary" type="submit" value='Creer TOEIC' > 
</form>
</div>
{% endblock %}
