{% extends 'base.html' %}

{% block content %}
<h1>{{ titre }}</h1>

{% for obj in liste %}
{% if user.is_superuser %}
<li>{{obj.id}}  : {{obj}}</li>

    {% if obj.id not in list_idToeicEnCours %}
    <form method='post'>
        {% csrf_token %}
        <button class="btn btn-primary" type="submit" name="toeic" value={{obj.id}} >Lancer TOEIC </button>
    </form>
    {% endif %}

{% else %}
<li><a href="{% url 'repondTOEIC' obj.id %}">{{obj.id}}  : {{obj}} </a></li>
{% endif %}
 <br/> 
 {% endfor %}

<br/>


<div id="listeTOEIC">
    <div class="form-group">
        <form method='post'>
            {% csrf_token %}

    <!-- Nom du toeic : <input type="text" name="NomToeic" required> -->
    {{ test }}
    <input class="btn btn-primary" type="submit" value='Creer TOEIC' > 
</form>
</div>
{% endblock %}
