<!--DOCTYPE html> -->
{% load static %}
<html>

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div>
            <h1>{{ titre }}</h1>
        </div>
        
        <form method='post'id="toeic">
            {% csrf_token %}
            
            {{ formset.management_form }}
            
            {% for form in formset %}

                {% ifequal form.prefix  " Question -0" %}
                    <h3>Listening</h3>
                {% endifequal %}

                {% ifequal form.prefix  " Question -99" %}       
                    <hr>
                    <h3>Reading</h3>
                {% endifequal %}
                <div class="test">
                <h4>{{ form.prefix }} :</h4>

                {{ form.question }}
                </div>
            {% endfor %}
            {% if user.is_superuser is not True %}
            <input type='submit' value='submit' id="valider">
            {% endif %}
        </form>
   

    </body>

</html>