<!--DOCTYPE html> -->
{% load static %}
<html>

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>
        <div>
            <h1>{{ titre }}</h1>
        </div>
        
        <form method='post'id="toeic">
            {% csrf_token %}
            
            {{ formset.management_form }}
       
            {% for form in formset %}
                {{ form.as_p }}
            {% endfor %}
            <input type='submit' value='submit' id="valider">
        </form>
   

    </body>

</html>